<?php

$databases = array (
  'default' => array (
    'default' => array (
      'database' => "<%= node['prometheus']['cms']['db_name'] %>",
      'username' => "<%= node['prometheus']['cms']['db_user'] %>",
      'password' => "<%= node['prometheus']['cms']['db_pass'] %>",
      'host' => "<%= node['prometheus']['cms']['db_host'] %>",
      'port' => "<%= node['prometheus']['cms']['db_port'] %>",
      'driver' => "<%= node['prometheus']['cms']['db_driver'] %>",
      'prefix' => "<%= node['prometheus']['cms']['db_prefix'] %>",
    ),
  ),
);

$update_free_access = FALSE;

$drupal_hash_salt = 'JOVJdjelvQ32SO6IIdWOJ2KkOnRops_bHgKupA5Elb8';

ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);
ini_set('session.gc_maxlifetime', 200000);
ini_set('session.cookie_lifetime', 2000000);
$conf['404_fast_paths_exclude'] = '/\/(?:styles)\//';
$conf['404_fast_paths'] = '/\.(?:txt|png|gif|jpe?g|css|js|ico|swf|flv|cgi|bat|pl|dll|exe|asp)$/i';
$conf['404_fast_html'] = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>404 Not Found</title></head><body><h1>Not Found</h1><p>The requested URL "@path" was not found on this server.</p></body></html>';

# memcache configuration for drupal
include_once DRUPAL_ROOT . '/includes/cache.inc';
include_once DRUPAL_ROOT . '/sites/all/modules/contrib/memcache_storage/memcache_storage.inc';

$conf['cache_backends'][] = 'sites/all/modules/contrib/memcache_storage/memcache_storage.inc';
$conf['cache_default_class'] = 'MemCacheStorage';
$conf['cache_class_cache_form'] = 'DrupalDatabaseCache';
$conf['cache_class_cache_update'] = 'DrupalDatabaseCache';

# (Optional) Don't bootstrap the database when serving pages from the cache.
$conf['page_cache_without_database'] = TRUE;
$conf['page_cache_invoke_hooks'] = FALSE;

$conf['memcache_extension'] = 'Memcached';
$conf['memcache_storage_debug'] = FALSE;
$conf['memcache_storage_key_prefix'] = md5('mc-cms-'.$_SERVER['HTTP_HOST']);
$conf['memcache_storage_persistent_connection'] = TRUE;

# Configure memcached extenstion.
$conf['memcache_options'] = array(
  Memcached::OPT_TCP_NODELAY => TRUE,
  Memcached::OPT_BINARY_PROTOCOL => TRUE,
);

$conf['memcache_servers'] = array(
  '<%= node[:memcached][:host] %>:<%= node[:memcached][:port] %>' => 'default'
);

$conf['memcache_bins'] = array(
  'cache' => 'default',
  'cache_block' => 'default',
  'cache_bootstrap' => 'default',
  'cache_content' => 'default',
  'cache_field' => 'default',
  'cache_filter' => 'default',
  'cache_libraries' => 'default',
  'cache_menu' => 'default',
  'cache_page' => 'default',
  'cache_path' => 'default',
  'cache_views' => 'default',
  'cache_views_data' => 'default',
  'session' => 'default',
  'users' => 'default',
);

# Move storage for lock system into memcached.
$conf['lock_inc'] = 'sites/all/modules/contrib/memcache_storage/includes/lock.inc';
# $conf['session_inc'] = 'sites/all/modules/contrib/memcache_storage/includes/session.inc';

include DRUPAL_ROOT . '/sites/all/modules/contrib/domain/settings.inc';
